@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button:single-button {
  display: none;
  background: transparent;
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #a8a8a8 #f1f1f1;
}
