@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.title {
  color: rgba(0, 0, 0, 0.88);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

input {
  width: 100%;
  height: 32px;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #dadada;
  font-size: 14px;
  outline: none;
  transition: all;
  transition-duration: 150ms;
}

input::placeholder {
  font-size: 13px;
}

input:focus,
input:hover {
  border: 1px solid #1677ff;
}

.label-inline {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  width: auto;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button:single-button {
  display: none;
  background: transparent;
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #a8a8a8 #f1f1f1;
}
